
---
import BaseLayout from '../layouts/BaseLayout.astro';
import VideoStream from '../components/VideoStream.astro';
---
<BaseLayout title="IPTV | Guide">
  <a href="../index.html">Player</a>
  <VideoStream />
</BaseLayout>
