@import "../styles/main.css";

h1,
h2,
h3 {
  font-size: inherit;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: min-content;
}

main {
  overflow: hidden;
}

#time {
  position: sticky;
  inset-block-start: 0;
  background-color: var(--clr-neutral-0);
  z-index: 1;
}

header {
  align-items: center;
  background-color: var(--clr-neutral-0);
  display: grid;
  gap: 2rem;
  grid-template-areas: "preview selected-channel";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 20rem;
  padding: 1rem;
}

#stream {
  grid-area: preview;
  height: 100%;
  max-width: 100%;
  width: fit-content;
}

#stream:empty {
  aspect-ratio: 16/9;
  background-color: var(--clr-neutral-3);
  border-radius: 1rem;
}

#stream video {
  background-color: var(--clr-neutral-3);
  border-radius: 1rem;
  height: 100%;
  max-width: 100%;
  cursor: pointer;
}
#stream video:hover {
  outline: 0.1em solid var(--clr-neutral-9);
}

#selected-channel {
  grid-area: selected-channel;
  height: 100%;
  overflow-y: auto;
}

#channel-name {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-block: 1em;
}

#channel-name > h1 {
  font-size: 1.5em;
  margin: 0;
}

#guide .programme:first-of-type {
  background-color: var(--clr-neutral-5);
}

#programme-name {
  font-size: 1.25em;
  margin-block: 0.5em;
}

#programme-description {
  margin-block: 0.5em;
}

#guide {
  display: grid;
  gap: 1rem;
  height: 100%;
  list-style: none;
  margin-block-start: 1rem;
  margin: 0;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0;
  scrollbar-width: none;
  scroll-padding-block-start: 2em;
  scroll-padding-inline-start: 50ch;
}

#guide::-webkit-scrollbar {
  display: none;
}

#guide:focus-visible {
  outline: none;
}

#guide > li {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-areas: "channel-header programmes";
  grid-template-columns: 25ch auto;
}

#guide :is([role="rowheader"], [role="columnheader"]) {
  align-items: center;
  background-image: linear-gradient(
    90deg,
    var(--clr-neutral-0) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  gap: 1rem;
  grid-area: channel-header;
  height: 100%;
  inset-inline-start: 0;
  overflow: hidden;
  padding: 1rem;
  position: sticky;
}

.channel .channel-header {
  cursor: pointer;
}

.channel .channel-header:is(:focus-visible, :hover) {
  color: var(--clr-neutral-0);
  outline: none;
}
.channel-header:is(:focus-visible, :hover) img {
  filter: saturate(0) brightness(50%);
}

.channel .channel-header:is(:focus-visible, :hover)::after {
  background-color: var(--clr-neutral-9);
  border-radius: 0 1rem 1rem 0;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
}

.channel-header h2 {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#guide > li > ol {
  display: flex;
  gap: 1rem;
  grid-area: programmes;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#guide :is(.programme, .channel-header) {
  scroll-margin-block-start: 2em;
  scroll-margin-inline-start: 50ch;
}

#guide .programme {
  background-color: var(--clr-neutral-3);
  border-radius: 1rem;
  cursor: pointer;
  flex: none;
  overflow: hidden;
  padding: 1rem;
  text-overflow: ellipsis;
}

#guide .programme-list .programme:is(:focus-visible, :hover) {
  background-color: var(--clr-neutral-9);
  color: var(--clr-neutral-0);
}

#programme-name {
  display: inline;
}
#selected-programme .left {
  align-items: baseline;
  display: flex;
}
