---
import { ClientRouter } from 'astro:transitions';

const { title } = Astro.props;
---
<!doctype html>
<html lang="en-GB">
  <head>
    <base href="./">

    <title>{title}</title>
    <link href="assets/png/icon80.png" rel="icon" sizes="80x80" />
    <link href="assets/png/icon130.png" rel="icon" sizes="130x130" />
    <link href="assets/png/icon400.png" rel="icon" sizes="400x400" />

		<meta name="generator" content={Astro.generator} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
